body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1{
  text-align: center;
  padding-top: 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

nav{
  display: flex;
  justify-content:space-between;
  position: relative;
  padding: 1rem 2.5rem;
}

nav button{
  background-color: rgb(32, 37, 61);
  width: 30px;
  height: 30px;
  padding: 0 5px 6px 0;
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 2.5rem;
  position: relative;
  bottom: 0;
  height: 40px;
}

.logoDH{
  max-width: 200px;
}

.divRedes{
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.redes{
  max-height: 25px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.contact p{
  background-color: red;
}


.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  background-color: white;
  color: black;
  margin-bottom: 3rem;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card img {
  height: 190px;
}

.card h2{
  text-align: center;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}

.dark > a {
  color: white;
}

.divNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.icono span{
  color: red;
}

.contact{
  padding: 0 3rem 20rem 3rem;
}

.contact h2{
  margin-top: 0;
  padding-top: 3rem;
}

.favs{
  padding-bottom: 20rem; ;
}

.detail{
  padding-bottom: 20rem; ;
}